.comment-group {
    display: flex;
    flex-direction: row;
    /* background-color: rgba(75, 236, 241, 0.25); */
    /* width: 400px; */
    width: 25vw;
    border: solid 1px #9d7979;
    border-radius: 10px;
    margin: 12px;
    justify-content: space-between;
}

.comment-creator-div {
    /* background-color: grey; */
    text-align: left;
    margin-left: 1vw;
    border-right: solid rgba(17, 21, 228, 0.5) 1px;
    padding-right: 1vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comment-creator {
    /* background-color: red; */
    font-size: 11px;
    color: rgba(17, 140, 228, 1);
    margin: 0px;
}

.comment-text {
    /* background-color: pink; */
    color: darkred;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-comment-date {
    color: rgba(17, 140, 228, 1);
    font-size: 11px;
    margin: 0px;
}

.comment-x-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-x-btn {
    background-color: transparent;
    border: none;
    height: 20px;
    margin: 10px;
    outline: none;
}

.comment-x-btn:hover {
    font-weight: bold;
    cursor: pointer;
    color: red;
}

/* .comment-date {
    color: rgba(17, 140, 228, 1);
    font-size: 11px;
} */

@media screen and (max-width: 900px) {
    .comment-group {
        display: flex;
        flex-direction: row;
        /* background-color: rgba(75, 236, 241, 0.25); */
        /* width: 400px; */
        width: 35vw;
        border: solid 1px #9d7979;
        border-radius: 10px;
        margin: 12px;
        justify-content: space-between;
    }
}