.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}
.Signup-page {
    background-color: aquamarine;
    width: 300px;
    /* box-shadow: 0px 0px 100px 20px blue; */
}
