.me {
    width: 37vw;
    background-image: url(https://i.postimg.cc/c4th4k7K/Screen-Shot-2020-08-15-at-8-37-59-PM.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.icons {
    margin-top: 0px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.email {
    color: wheat;
    margin-top: 30px;
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
}

.contact-add-service {
    margin: 39px 0px 0px 30px;
    color: black;
    text-align: left;
    width: 100px;
}

.contact-title-photo {
    margin-top: 10px;
    margin-left: 0px;
    width: 120px;
    height: 80px;
}
.contact-mini-side-bar {
    display: none;
}
@media screen and (max-width: 900px){
    .me {
        width: 100vw;
        height: 70vh;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .contact-mini-side-bar {
        display: block;
        background-color: #d4cfbd;
        padding: 1%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

    }
}

@media screen and (max-width: 375px){
    .me {
        width: 300px;
        height: 500px;
        background-image: url(https://i.postimg.cc/c4th4k7K/Screen-Shot-2020-08-15-at-8-37-59-PM.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    
}