.macintosh {
    /* background-image: url(https://i.postimg.cc/3wG4KKLY/Screen-Shot-2020-08-11-at-2-20-47-AM.png);
    background-repeat: no-repeat;
    z-index: -1;
    background-size: 93%;
    height: 1500px;
    margin-left: 120px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 50px 0px 50px;

    width: 930px;
    height: 700px;
    /* margin-left: 150px;
    margin-top: 175px; */
    background-image: url(https://i.postimg.cc/kMYQpdhP/Screen-Shot-2020-06-19-at-4-24-02-PM.png);
    background-size: cover;
}
.nav {
    margin: 10px 10px 10px 20px;
}
.image {
    background-color: aquamarine;
    width: 800px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container {
    background-color: #9D7979;
    width: 700px;
    height: 500px;
    border: 1px solid #6d5454;
    display: flex;
    flex-direction: row;
    box-shadow:20px 20px 50px #65cca9;
}

.side-bar {
    display: flex;
    flex-direction: column;
}

.info {
    width: 140px;
    height: 110px;
    border: 1px solid #6d5454;
    color: blue;
    /* margin-top: 30px; */
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.title-photo {
    width: 110px;
    height: 90px;
}
.info-body {
    width: 140px;
    height: 270px;
    border: 1px solid #6d5454;
    color: blue;
    margin-top: 20px;
    margin-left: 15px;
}

.descriptions {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 12px;
    text-align: left;
}

.post-container {
    width: 450px;
    height: 470px;
    border: solid 1px #6d5454;
    margin-left: 20px;
    margin-top: 15px;
    overflow-y: scroll;
}

.post {
    width: 400px;
    height: 150px;
    border: solid 1px blue;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 10px;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
}

.post-header {
    border-bottom: 1px blue solid;
    text-align: left;
    padding-left: 10px;

}