.macintosh {
    /* background-image: url(https://i.postimg.cc/3wG4KKLY/Screen-Shot-2020-08-11-at-2-20-47-AM.png);
    background-repeat: no-repeat;
    z-index: -1;
    background-size: 93%;
    height: 1500px;
    margin-left: 120px; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-left: 200px;
}

.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 50px 0px 50px;
    width: 930px;
    height: 700px;
    /* margin-left: 150px;
    margin-top: 175px; */
    /* background-image: url(https://i.postimg.cc/kMYQpdhP/Screen-Shot-2020-06-19-at-4-24-02-PM.png);
    background-size: cover; */
    /* border-radius: 300px; */
}

.nav {
    /* margin: 10px 10px 10px 20px; */
    /* margin-top: 30px; */
    /* margin-left: 160px; */
    margin-right: 100px;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.image {
    /* background-color: aquamarine; */
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.main-container {
    /* background-color: #9D7979; */
    background-color: #d4cfbd;
    width: 700px;
    height: 500px;
    /* border: 1px solid #6d5454; */
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 100px 20px #65cca9;
    /* box-shadow:0px 0px 100px 20px darkred; */
    margin-left: 50px;
}

.side-bar {
    display: flex;
    flex-direction: column;
    /* background-color: #e4dfbd; */
}

.info {
    width: 140px;
    height: 110px;
    /* border: 1px solid #6d5454; */
    color: blue;
    margin-top: 35px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.title-photo {
    width: 120px;
    height: 140px;

}

.second-photo {
    width: 120px;
    height: 140px;
    margin-top: 70px;
    margin-left: 7px;
    margin-bottom: 10px;
}

.info-body {
    width: 140px;
    height: 230px;
    /* border: 1px solid #6d5454; */
    color: blue;
    margin-top: 40px;
    /* margin-left: 15px; */
    text-align: center;
}

.add-service {
    /* width: 140px; */
    text-decoration: none;
    /* color: aqua; */
    /* border-bottom: 1px solid red; */
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 5px;
    /* -webkit-text-stroke: 1px #ffe5ee; */
    -webkit-text-stroke: 1px #731154;
    /* opacity: 60%; */
}

.add-service:hover {
    font-weight: bold;
}

.descriptions {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 12px;
    text-align: left;
}

.post-container {
    width: 530px;
    height: 500px;
    /* border-left: solid 1px #6d5454; */
    /* background-color: #ab9b7d; */
    background-color: #e4dfbd;
    /* margin-left: 20px;
    margin-top: 15px; */
    overflow-y: scroll;
}