.detail-container {
    width: 50vw;
    margin-top: 1vw;
    margin-bottom: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: pre-wrap;
}

.card-post-header {
    width: 35.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px #731154 solid;
    border-top: 1px #731154 solid;
    padding-left: 1vw;
    color: #731154;
    padding-right: 1vw;
}

.detail-creator {
    border-right: solid 1px black;
    padding-right: 20px;
}

.author {
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-post-creator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-title {
    margin-left: 10px;
    display: flex;
    justify-content: center;
}

.post-description {
    width: 33vw;
    text-align: left;
    margin-left: 1vw;
    margin-top: 1vw;
    background-color: #cad0ce;
    padding-left: 1vw;
}

.card-links {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    width: 37vw;
}

.action-link {
    text-decoration: none;
    color: #731154;
    font-size: 11px;
}

.action-link:hover {
    font-weight: bold;
}

.delete {
    background-color: transparent;
    border-radius: 5px;
    border: none;
    font-family: monospace;
    color: #731154;
    cursor: pointer;
    font-size: 11px;
}

.delete:hover {
    font-weight: bold;
}

.description-link {
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

.time {
    border-left: solid 1px black;
    padding-left: 1vw;
    padding-right: .5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .detail-container {
        width: 48.8vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        white-space: pre-wrap;
    }
    .card-links {
        width: 48.7vw;
        border-top: solid 1px #731154;
        padding-top: 1vw;
    }
    .card-post-header {
        width: 47.5vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px #731154 solid;
        border-top: 1px #731154 solid;
        padding-left: 10px;
        color: #731154;
        padding-right: 10px;
    }
    .post-description {
        width: 47vw;
        text-align: left;
        margin: 1vw;
        padding: 0vw;
    }
}

@media screen and (max-width: 375px){
    .detail-container {
        width: 300px;
        margin-top: 1vw;
        margin-bottom: 3vw;
    }
    .card-post-header {
        width: 290px;
    }
    .post-description {
        width: 290px;
    }
    .card-links {
        margin-bottom: 10px;
        width: 310px;
        padding-top: 10px;
    }
}