
.detail-container {
    width: 510px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 50px;
    /* overflow-y: scroll; */
    display: flex;
    flex-direction: column;
    /* box-shadow: grey 2px 2px 60px 1px; */
    white-space: pre-wrap;
}

.post-description {
    width: 450px;
    text-align: left;
    margin-left: 20px;
}