.NavBar-link {
  text-decoration: none;
  color: bisque;
  -webkit-text-stroke: 1px grey;
}

.NavBar-link:hover {
  font-weight: bold;
  -webkit-text-stroke: 2px aquamarine;
}

.NavBar-welcome {
  color: grey;
  -webkit-text-stroke: 0.5px grey;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  width: 47vw;
  padding-bottom: 5px;
}

@media screen and (max-width: 900px) {
  .nav-container {
    flex-direction: row;
    width: 49vw;
    width: 300px;
    background-color: transparent;
  }
  .Nav-Bar {
    margin: 0vw;
  }
  .NavBar-link {
    display: flex;
    align-items: center;
    width: 150px;
  }
}