/* .nav-bar {
    width: 100px;
    height: 50px;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.link {
    text-decoration: none;
    color: #D7D85A;
    margin: 10px;
}

.link:hover {
    font-weight: bold;
} */

.NavBar {
    display: flex;
    justify-content: center;
    margin: 0 0 20px;
  }
  
  .NavBar-link {
    margin: 0 10px;
  }