.NavBar-link {
  text-decoration: none;
  color: bisque;
  -webkit-text-stroke: 1px bisque;

}

.NavBar-link:hover {
  font-weight: bold;
  -webkit-text-stroke: 2px aquamarine;
}

.NavBar-welcome {
  color: black;
  -webkit-text-stroke: 1px white;

  /* margin-top: 10px; */
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: left;
  width: 300px;
  padding-bottom: 10px;
}

.NavBar {
width: 300px;
/* margin-bottom: 30px; */
}