.post {
    width: 510px;
    height: 150px;
    border: solid 1px#731154;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 50px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    box-shadow: grey 2px 2px 60px 1px;
}

.post-body {
    text-align: left;
    margin-left: 10px;
    white-space: pre-wrap;
    color: #731154;
}

.details-div {
    width: 530px;
}

.post-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px #731154 solid;
    padding-left: 10px;
    color: #731154;
    padding-right: 10px;
}
.details-onClick {
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.details-btn {
    cursor: pointer;
    padding-right: 10px;
}

.hide-btn {
    cursor: pointer;
    padding-right: 10px;
}

.hide-btn:hover {
    font-weight: bold;
}

.detail-link {
    text-decoration: none;
}