.form-container {
    margin: 25px;
    padding: 12px;
    display: flex;
    justify-content: flex-start;

    width: 250px;
    /* border: none;
    border-radius: 30px; */
    
}
.comment-form {    
    /* background-color: black;
box-shadow: 0px 0px 100px 20px #d4cfbd; */
}
.comment-input {
    background-color: #e4dfbd;
    border: 1px solid #9d7979;
    border-radius: 5px;
    margin: 10px;
    outline: none;
}

.add-btn {
    background-color: #e4dfbd;
    border: none;
    font-size: 20px;
    cursor: pointer;
}