.form-container {
    padding: 12px;
    display: flex;
    justify-content: flex-start;
    width: 20vw;
}

.comment-form {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.comment-input {
    background-color: #e4dfbd;
    border: 1px solid #9d7979;
    border-radius: 5px;
    margin: 10px;
    outline: none;
}

.add-btn {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}