.form-container {
    /* margin: 25px; */
    padding: 12px;
    display: flex;
    justify-content: flex-start;
    width: 250px;
    /* border: none;
    border-radius: 30px; */
    /* background-color: black; */
}

.comment-form {
    /* background-color: black; */
    /* box-shadow: 0px 0px 100px 20px #d4cfbd; */
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.comment-input {
    background-color: #e4dfbd;
    border: 1px solid #9d7979;
    border-radius: 5px;
    margin: 10px;
    outline: none;
}

.add-btn {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}