html, body {
  margin: 0px;
  background-color: #333333;
  /* background-image: url(https://i.postimg.cc/TPxg8YQV/discursive2.png);
  background-size: 100%;
  background-repeat: no-repeat; */
  font-family: monospace;
}
.App {
  text-align: center;
}

/* header {
  display: flex;
  justify-content: flex-end;
} */